@use 'variables';
@use 'mixins';

.navbar {
  background-color: variables.$color-azul !important;

  .navbar-brand {
    color: variables.$color-blanco !important;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .nav-link {
    color: variables.$color-blanco !important;
    font-weight: 600;
    @include mixins.transition(color);

    &:hover {
      color: variables.$color-azul-claro !important;
    }
  }
}
