@use 'variables' as *;
@use 'mixins' as *;

.navbar {
  background-color: $color-azul !important;

  .navbar-brand {
    color: $color-blanco !important;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .nav-link {
    color: $color-blanco !important;
    font-weight: 600;
    @include transition(color);

    &:hover {
      color: $color-azul-claro !important;
    }
  }
}
