// Variables de colores de la plataforma
$color-blanco: #ffffff;
$color-azul: #1a73e8;
$color-azul-claro: #d2e3fc;
$color-negro: #000000;

// Variables para fuentes y tamaños de la página
$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-base: 16px;
